:root {
    /* Set to none zero to see all borders */
    --border-width: 0px;
    --border-color: violet;


    /* Color palette */

    --violet: #a502e6;
    --testing-black: rgb(29, 29, 29);
    --red: rgb(146, 0, 59);
    --input-background-color: black;
    

    --color1: #2e003e;
    --color2: #3d2352;
    --color3: #3d1e6d;
    --color4: #8874a3;
    --color5: #e4dcf1;

    /* The maximum width after which the navigation bar stops stretching */

    --navbar-max-width: 1280px;

    /* The maximum width after which main stops stretching */

    --main-max-width: 1100px;

}

@media (min-width: 990px) {
    .contact-form {
        display: block;
        width: 100%;
        margin: auto;
        padding: 40px;
        border-radius: 20px;
        font-size: 21px;
        background-color: var(--testing-black);
    }

    .contact-form input, .contact-form textarea {
        padding: 20px;
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 18px;
        width: 100%;
        border: none;
        border: 2px solid white;
        background-color: var(--testing-black);
    }

    .contact-form input:focus, .contact-form textarea:focus {
        outline-style: none;
    }

    .send-button {
        width: 100%;
        background-color: var(--input-background-color);
        border: none;
        font-size: 18px;
        padding: 20px;
        margin-top: 10px;
        margin-bottom: 10px;
        transition: 0.15s;
    }

    .send-button:hover {
        box-shadow: 5px 5px 10px black;
        cursor: pointer;
    }

    .send-button:active {
        box-shadow: none;
        cursor: pointer;
    }
}

@media (max-width: 990px) {
    .contact-form {
        display: block;
        width: 100%;
        margin: auto;
        padding: 40px;
        border-radius: 20px;
        font-size: 21px;
        background-color: var(--testing-black);
    }

    .contact-form input, .contact-form textarea {
        padding: 20px;
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 50px;
        width: 100%;
        border: none;
        border: 2px solid white;
        background-color: var(--testing-black);
    }

    .contact-form label {
        font-size: 50px;
    }

    .contact-form input:focus, .contact-form textarea:focus {
        outline-style: none;
    }

    .send-button {
        width: 100%;
        background-color: var(--input-background-color);
        border: none;
        font-size: 70px;
        padding: 20px;
        margin-top: 10px;
        margin-bottom: 10px;
        transition: 0.1s;
    }

    .send-button:active {
        box-shadow: 5px 5px 10px black;
    }
}